body, p, ul {
    padding: 1px;
}

body {
    line-height: 1.6;
    padding: 20px;
    background-color: #FFFFFF; /* Lighter background for better contrast */
}

header {
    background: url('background.png');    
    background-size: cover;
    height: 15vw;
    padding: 10px;
    top: 10;
    left: 0;
    right: 0;
    align-items: center;
}

header h2{
    color: #5C4033;
}

@media only screen and (max-width: 600px) {
    header {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url('background.png');
        background-size: cover;
        height: 15vw;
        padding: 10px;
        top: 10;
        left: 0;
        right: 0;
        align-items: center;
            }
}


footer {
    text-align: center;
    color: black;
    position: relative;
    bottom: 0;
    width: 100%;
}

a {
    color: #008888; /* Calm teal */
}

a:hover {
    color: #E76F51; /* Vibrant coral */
}


#nav_buttons {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #3c8dbc;
    font-weight: bold;
    font-size: 1.05em;
}

#nav_buttons ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nav_buttons li {
    padding: 0;
    margin: 0;
    display: inline-block;
}

#nav_buttons a {
    display: inline-block;
    margin: 0;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

#nav_buttons a:hover, #nav_buttons a:active {
    background-color: #008888;
}

.galleria {
    width: 100%;
    height: 700px;
    background: #ffffff;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #F4F4F4; /* Light gray for a clean look */
    border-radius: 8px; /* Rounded corners for a softer look */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    color: #333; /* Dark gray for text to ensure good readability */
}

.pdf {
    width: 100%;
    aspect-ratio: 4 / 3;
}
.pdf,
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.centered-title {
    text-align: center;
    font-size: 3rem;
    margin: 20px auto;
    width: 100%;
}


